.label-usertype:after {
    content: "*";
    color: red;
    margin-left: 5px;
}
.label-usertype {
    width: 24% ;
}
.form-usertype {
    display: flex;
}
.input-usertype {
    margin-left: 35px;
}
.input-usertype-1 {
    margin-left: 108.6px;
}
.input-usertype-1 label:first-child  {
    margin-right: 10px !important;
}
.form-usertype-1 {
    margin-top: 3%;
}
.form-group {
    display:flex;
    flex-wrap: wrap;
}
label {
    width: 24%;
}
.group-user-branch_control {
    width: 75%;
}
.group-branch-id {
    width: 75%;
}
.field-user-status {
    margin-left: 24%;
}
.portlet-title {
    text-align: center;
}
.col-md-10 {
    margin-bottom: 3%;
}
.field-user-fullname {
    margin-bottom: 6%;
}
.index-show {
    margin-top: 8%;
}
.form-group input {
    width: 75%;
}
.help-block {
    margin-left: 25%;
}
.form-group textarea {
    width: 75%;
}
.field-user-status label {
    display: inline-flex;
}
.field-user-status label input {
    margin-right: 5%;
}
#user-type {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
#user-type label {
    display: flex;
    margin-right: 16%;
    margin-bottom: 10%;
}
#user-type label input {
    width: auto;
    margin-right: 6%;
}
#user-ho_type {
    width: 75%;
}
.group-partner-id {
    width: 75%;
}